{% extends 'AppBundle::base.html.twig' %}

{% block body %}
  <div class="container">
    <h4>task has been created ok.</h4>
    <ul>
      <li>Do you want to <a href="{{ url('formpage') }}">create</a> a new task</li> <br>
      <li>Or <a href="{{ url('task_list') }}">list all</a> tasks</li>
    </ul>
  </div>
{% endblock %}
